.social-login
    button.social-login--github
        span
            i.fab.fa-github
        |   Continue with Github
        //- | 텍스트가 아닌 태그로 취급함. Continue가 button, span 으로 인식.
    button.social-login--facebook
        span
            i.fab.fa-facebook
        |   Continue with Facebook